DISCORD_CLIENT_ID=1448713281622638652
DISCORD_CLIENT_SECRET=teP976ItI_goabVEcCLk2izEAwqAlif4
DISCORD_REDIRECT_URI=https://xtron-checklist.netlify.app/api/auth/discord/callback
JWT_SECRET=b5cc9af90da9aa4caa3757940a3c9d29014419959c1f08ed4efc97e5b4a8c0f6
DATABASE_URL=https://x-tron-checklist-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_APP_URL=https://xtron-checklist.netlify.app
